[defaults]
inventory = ~/ansible/inventory
private_key_file = ~/.ssh/ansible
interpreter_python = auto_silent
deprecation_warnings = False

[privilege_escalation]


[ssh_connection]
pipelining = True
