[defaults]
inventory = ~/ansible/inventory
private_key_file = ~/.ssh/ansible
interpreter_python = auto_silent
#timeout = 60

[privilege_escalation]
#become_timeout = 60

[ssh_connection]
pipelining = True
